:root {
  --metrix-color: #492354;
  --highlight-color: #faf4ff;
  --font-color: #faf4ff;
  --article-font-color: #000000;
  --candidate-font-color:#faf4ff;
  --bg-color: #3B1838;
  --left-color: #3D67B1;
  --center-left-color: #3F4174;
  --center-color: #492354;
  --center-right-color: #982156;
  --right-color: #E22B35;
}

[data-theme="dark"] {
    --metrix-color: #492354;
    --highlight-color: #3B1838;
    --font-color:  #3B1838;
    --article-font-color: #000000;
    --candidate-font-color:#faf4ff;
    --bg-color: #fff;
    --left-color: #3D67B1;
    --center-left-color: #3F4174;
    --center-color: #492354;
    --center-right-color: #982156;
    --right-color: #E22B35;
}

body,h1,h2,h3,h4,h5,h6,span, p{
  font-family: "Source Sans Pro", sans-serif;
  color: auto;
  /* word-wrap: break-word; */
}

body {
  background-color: var(--bg-color);
  /* color: var(--font-color); */
  /* border: solid 1px var(--metrix-color); */
  height: 100%;
  line-height: 1.2;
  max-width: 900px;
  margin: auto;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--font-color);
  height: 50px;
  text-align: center;
  margin-top: 25px;
  padding-top: 10px;
  border-top: solid thick var(--metrix-color);
}

h1 {
  color: var(--font-color);
  text-align: center;
  font-size: 36pt;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  color: var(--font-color);
  font-size: 24pt;
  padding-left: 10px;
  /* padding-top: 5px; */
  margin: 0;
  text-align: left;
}

h3 {
  color: var(--font-color);

  font-size: 20pt;
  /* padding-top: 5px; */
  margin: 0;
  font-weight: bold;
  text-align: left;
}

h4 {
  color: var(--article-font-color);

  font-size: 16pt;
  /* padding-top: 5px; */
  margin: 0;
  font-weight: bold;
  text-align: left;
}

p {
  color: var(--font-color);
  font-size: 14pt;
  /* text-align: center; */
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a > h2:hover {
  text-decoration: underline;
  color: var(--font-color);
}

a:active {
  text-decoration: none;
}

.nav {
  height: 50px;
  width: 100%;
  max-width: 875;
  background-color: var(--bg-color);
  position: relative;
  border-bottom: solid thick var(--metrix-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .nav > .nav-header  {
  display: inline;
  float: left;
  font-size: 18px;
} */

.nav > .nav-header > a {
  display: inline-block;
  /* padding: 1px 10px 1px 10px; */
  margin: 2px 10px 0px 10px;
  width: 50px;
  height: auto;
}

.nav > .nav-header > a:hover {
  border-bottom: solid 4px var(--highlight-color);
}

.nav > .nav-links {
  display: flex;
  justify-content:space-between;
  float: right;
  padding-top: 5px;
  width: 100%;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 5px 5px 5px 5px;
  margin: 0px 5% 0px 5%;
  text-decoration: none;
  color: var(--font-color);
  font-size: 20pt;
}

.nav > .nav-links > a:hover {
  border-bottom: solid 4px var(--highlight-color);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {

  .nav {
    height: 50px;
    width: 100%;
    max-width: 875;
    background-color: var(--bg-color);
    position: relative;
    border-bottom: solid 1px var(--highlight-color);
    margin-bottom: 10px;
    margin: 0 auto;
    text-align: center;
  }

  .nav > .nav-header  {
    display: inline;
    font-size: 18px;
    /* float: none;
    position: absolute;
    margin: 0 auto;
    display: flex; justify-content: center */
  }

  .nav > .nav-header > a {
    display: inline-block;
    margin: 2px 10px 0px 10px;
    width: 50px;
    height: auto;
  }

  .logo {
    width: 43px;
    height: auto;
  }

  .nav > .nav-header > a:hover {
    border-bottom: solid 4px var(--highlight-color);
  }

  .nav > .nav-links {
    display: inline;
    font-size: 18px;
    /* float: none;
    position: absolute;
    margin: 0 auto;
    display: flex; justify-content: center */
  }

  .nav > .nav-links > a {
    display: inline-block;
    padding: 10px 10px 8px 5px;
    text-decoration: none;
    color: var(--font-color);
    font-size: 20pt;
  }

  .nav > .nav-links > a:hover {
    border-bottom: solid 4px var(--highlight-color);
  }

  .nav > .nav-links > a > span {
    display: none;
  }
}

/* Article Card */ /* Article Card *//* Article Card *//* Article Card *//* Article Card *//* Article Card *//* Article Card *//* Article Card *//* Article Card *//* Article Card */
/* Create two columns that floats next to each other */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

ul li {
  color: black;
}

/* .source {
  text-align: center;
  width: 100%;
  height: auto;
  float: left;
} */

.row {
  width: 100%;
  height: auto;
  /* padding: 10px; */
}

.headline {
  color: var(--article-font-color);
  font-size: 12pt;
  margin-top: 10px;
  margin-bottom: 10px;
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: left;
  /* place for '...' */
  margin-right: 0em;
  padding-right: -1em;
}

/* create the ... */
.headline:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.headline:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}


.metric {
  width: 40px;
  height: auto;
  margin: 0px 10% 0px 5%;
}

.metricRow {
  display: flex;
  justify-content:space-between;
  float: right;
  padding-top: 5px;
  width: 100%;
}

.articlephoto {
  width: 100%;
  height: auto;
  /* Magic! */
  max-height: 25vw;

  display: block;
  /* width: 100%;
  height: 250px; */
  margin-bottom: 10px;
  border-radius: 8px;
}

@media (max-width:600px) {
  .articlephoto {
    width: 100%;
    height: auto;
    /* Magic! */
    max-height: 60vw;

    display: block;
    /* width: 100%;
    height: 250px; */
    margin-bottom: 10px;
    border-radius: 10px;
  }
}

.articlebox {
  border: solid 5px var(--left-color);
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  width: 100%;
  background-color: #fff;
}

.publishinfo {
  text-align: left;
  color: var(--article-font-color);
  width: 100%;
}

.logo_div {
  width: 20%;
  float: left;
  padding-bottom: 5px;
}

.publish_text {
  width: 75%;
  float: left;
  padding-bottom: 5px;
  color: var(--article-font-color)
}

.source_logo {
  height: auto;
  width: 50px;
  border-radius: 5px;
}

.source_name {
  color: var(--article_font_color);
  font-size: 14pt;
  text-align: left;
  margin: 0;
  font-weight: bold;
}

.author {
  color: var(--article-font-color);
  font-size: 12pt;
  text-align: left;
  margin: 0;
  font-style: italic;
}

.time {
  color: var(--article-font-color);
  font-size: 12pt;
  text-align: left;
  margin: 0;
  font-style: italic;

}

.bias {
  width: 55px;
  height: auto;
  padding: 5px;
}

.emotion {
  width: 55px;
  height: auto;
  padding: 5px;
}

.sentiment {
  width: 55px;
  height: auto;
  padding: 5px;
}

.emotion:hover {
  /* create some sort of text pop-up to show alt */
}


/* END article card */

/* ARTICLE PREVIEW MODAL */ /* ARTICLE PREVIEW MODAL *//* ARTICLE PREVIEW MODAL *//* ARTICLE PREVIEW MODAL *//* ARTICLE PREVIEW MODAL *//* ARTICLE PREVIEW MODAL *//* ARTICLE PREVIEW MODAL *//* ARTICLE PREVIEW MODAL *//* ARTICLE PREVIEW MODAL *//* ARTICLE PREVIEW MODAL */
.modalDialog {
	position: fixed;
  max-height: 100%;
  overflow-y: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 90%;
  max-width: 500px;
	position: relative;
	margin: 10% auto;
	padding: 20px 10px 55px 10px;
	border-radius: 10px;
	background: #fff;
}

.close {
	background: var(--bg-color);
  border: solid 2px var(--highlight-color);
	color: var(--highlight-color);
  font-size: 16pt;
	line-height: 40px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 40px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: var(--highlight-color);
  border: solid 2px var(--bg-color);
  color: var(--bg-color);
}

.article_description {
  color: var(--article-font-color);
  font-size: 12pt;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.article_content {
  color: var(--article-font-color);
  font-size: 12pt;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 6.0em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: left;
  /* place for '...' */
  margin-right: 0em;
  padding-right: -1em;
}

/* create the ... */
.article_content:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.article_content:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}


.article_link {
  color: var(--metrix-color);
  font-size: 12pt;
  text-align: left;
}

.article_link:hover {
  text-decoration: underline;
  color: var(--metrix-color);
}

.article_link:visited {
  text-decoration: none;
  color: var(--metrix-color)
}

.article_link:active {
  text-decoration: none;
}


/* BIAS SCOLLERS */ /* BIAS SCOLLERS *//* BIAS SCOLLERS *//* BIAS SCOLLERS *//* BIAS SCOLLERS *//* BIAS SCOLLERS *//* BIAS SCOLLERS *//* BIAS SCOLLERS *//* BIAS SCOLLERS *//* BIAS SCOLLERS */
/* width */
.hs::-webkit-scrollbar {
  width: 10px;
  scroll-behavior: smooth;
}

/* Track */
.hs::-webkit-scrollbar-track {
  background: linear-gradient(to left, var(--right-color) -20%, var(--left-color) 100%);
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

/* Handle */
.hs::-webkit-scrollbar-thumb {
  background: #fff;
  border: solid 1px var(--highlight-color);
  border-radius: 10px;
  height: 50px;
  width: 50px;
}


/* Handle on hover */
/* .hs::-webkit-scrollbar-thumb:hover {
  background: #var(--highlight);
} */
/* BIAS SCOLLERS END */