:root {
    --metrix-color: #492354;
    --highlight-color: #BFBFBF;
    --font-color: #262626;
    --article-font-color: #0D0D0D;
    --candidate-font-color:#2e003e;
    --bg-color: #F2F2F2;
    --left-color: #3D67B1;
    --center-left-color: #3F4174;
    --center-color: #492354;
    --center-right-color: #982156;
    --right-color: #E22B35;
  }
    
  /* ALL HTML ELEMENTS & TAGS */ /* ALL HTML ELEMENTS & TAGS */ /* ALL HTML ELEMENTS & TAGS */ /* ALL HTML ELEMENTS & TAGS */ /* ALL HTML ELEMENTS & TAGS */ /* ALL HTML ELEMENTS & TAGS */
  body,h1,h2,h3,h4,h5,h6,span, p{
    font-family: "Source Sans Pro", sans-serif;
    color: auto;
  }
  
  body {
    background-color: var(--bg-color);
    /* color: var(--font-color); */
    /* border: solid 1px var(--metrix-color); */
    height: 100%;
    line-height: 1.2;
    margin: 0 auto;
    text-align: center;
  }
  
  // p {
  //   color: var(--font-color);
  //   /* text-align: center; */
  // }
  
  
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
  
  /* NAVBAR */ /* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR */
  
  * {
    box-sizing: border-box;
  }
  
  .nav {
    height: 100px;
    width: 100%;
    max-width: 1200px;
    background-color: var(--metrix-color);
    // position: relative;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    z-index: 500;
  }
  
  /* .nav > .nav-header  {
    display: inline;
    float: left;
    font-size: 18px;
  } */
  
  .nav > .nav-header > a {
    display: inline-block;
    /* padding: 1px 10px 1px 10px; */
    margin: 2px 10px 0px 10px;
    width: 50px;
    height: auto;
  }
  
  .nav > .nav-header > a:hover {
    border-bottom: solid 4px var(--highlight-color);
  }
  
  .nav > .nav-links {
    display: flex;
    justify-content:space-between;
    float: right;
    padding-top: 5px;
    width: 100%;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 5px 5px 5px 5px;
    margin: 0px 5% 0px 5%;
    text-decoration: none;
    color: var(--font-color);
    font-size: 20pt;
  }
  
  .nav > .nav-links > a:hover {
    border-bottom: solid 4px var(--highlight-color);
  }
  
  .nav > #nav-check {
    display: none;
  }

  .navIcon {
    width: 64px;
    height: 64px;
  }
  
  @media (max-width:600px) {

    .nav {
      height: 100px;
      width: 100%;
      background-color: var(--metrix-color);
      margin-bottom: 10px;
      text-align: center;
      margin: 0 auto;
      position: fixed;
      bottom: 0;
      z-index: 500;
      width: 100%;
    }
  
    .nav > .nav-header  {
      display: inline;
      font-size: 18px;
      /* float: none;
      position: absolute;
      margin: 0 auto;
      display: flex; justify-content: center */
    }
  
    .nav > .nav-header > a {
      display: inline-block;
      margin: 2px 10px 0px 10px;
      width: 50px;
      height: auto;
    }
  
    .logo {
      width: 43px;
      height: auto;
    }
  
    .nav > .nav-header > a:hover {
      border-bottom: solid 4px var(--highlight-color);
    }
  
    .nav > .nav-links {
      display: inline;
      font-size: 18px;
      /* float: none;
      position: absolute;
      margin: 0 auto;
      display: flex; justify-content: center */
    }
  
    .nav > .nav-links > li {
      display: inline-block;
      padding: 10px 10px 8px 5px;
      text-decoration: none;
      color: var(--font-color);
      font-size: 20pt;
    }
  
    .nav > .nav-links > li:hover {
      border-bottom: solid 4px var(--highlight-color);
    }

    .navIcon {
      width: 64px;
      height: 64px;
    }
  
    // .nav > .nav-links > a > span {
    //   display: none;
    // }
  }
  
  /* END NAVBAR */
