:root {
  --metrix-color: #492354;
  --highlight-color: #faf4ff;
  --font-color: #faf4ff;
  --article-font-color: #000000;
  --candidate-font-color:#faf4ff;
  --bg-color: #3B1838;
  --left-color: #3D67B1;
  --center-left-color: #3F4174;
  --center-color: #492354;
  --center-right-color: #982156;
  --right-color: #E22B35;
}

[data-theme="dark"] {
    --metrix-color: #492354;
    --highlight-color: #3B1838;
    --font-color:  #3B1838;
    --article-font-color: #000000;
    --candidate-font-color:#faf4ff;
    --bg-color: #fff;
    --left-color: #3D67B1;
    --center-left-color: #3F4174;
    --center-color: #492354;
    --center-right-color: #982156;
    --right-color: #E22B35;
}


/* ALL HTML ELEMENTS & TAGS */ /* ALL HTML ELEMENTS & TAGS */ /* ALL HTML ELEMENTS & TAGS */ /* ALL HTML ELEMENTS & TAGS */ /* ALL HTML ELEMENTS & TAGS */ /* ALL HTML ELEMENTS & TAGS */


body,h1,h2,h3,h4,h5,h6,span, p{
  font-family: "Source Sans Pro", sans-serif;
  color: auto;
  /* word-wrap: break-word; */
}

body {
  background-color: var(--bg-color);
  /* color: var(--font-color); */
  /* border: solid 1px var(--metrix-color); */
  height: 100%;
  line-height: 1.2;
  max-width: 900px;
  margin: auto;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--font-color);
  height: 50px;
  text-align: center;
  margin-top: 25px;
  padding-top: 10px;
  border-top: solid thick var(--metrix-color);
}

h1 {
  color: var(--font-color);
  text-align: center;
  font-size: 36pt;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  color: var(--font-color);
  font-size: 24pt;
  padding-left: 10px;
  /* padding-top: 5px; */
  margin: 0;
  text-align: left;
}

h3 {
  color: var(--font-color);

  font-size: 20pt;
  /* padding-top: 5px; */
  margin: 0;
  font-weight: bold;
  text-align: left;
}

h4 {
  color: var(--article-font-color);

  font-size: 16pt;
  /* padding-top: 5px; */
  margin: 0;
  font-weight: bold;
  text-align: left;
}
}

p {
  color: var(--font-color);
  font-size: 14pt;
  /* text-align: center; */
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a > h2:hover {
  text-decoration: underline;
  color: var(--font-color);
}

a:active {
  text-decoration: none;
}

/* NAVBAR */ /* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR */

* {
  box-sizing: border-box;
}

.nav {
  height: 50px;
  width: 100%;
  max-width: 875;
  background-color: var(--bg-color);
  position: relative;
  border-bottom: solid thick var(--metrix-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .nav > .nav-header  {
  display: inline;
  float: left;
  font-size: 18px;
} */

.nav > .nav-header > a {
  display: inline-block;
  /* padding: 1px 10px 1px 10px; */
  margin: 2px 10px 0px 10px;
  width: 50px;
  height: auto;
}

.nav > .nav-header > a:hover {
  border-bottom: solid 4px var(--highlight-color);
}

.nav > .nav-links {
  display: flex;
  justify-content:space-between;
  float: right;
  padding-top: 5px;
  width: 100%;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 5px 5px 5px 5px;
  margin: 0px 5% 0px 5%;
  text-decoration: none;
  color: var(--font-color);
  font-size: 20pt;
}

.nav > .nav-links > a:hover {
  border-bottom: solid 4px var(--highlight-color);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {

  .nav {
    height: 50px;
    width: 100%;
    max-width: 875;
    background-color: var(--bg-color);
    position: relative;
    border-bottom: solid 1px var(--highlight-color);
    margin-bottom: 10px;
    margin: 0 auto;
    text-align: center;
  }

  .nav > .nav-header  {
    display: inline;
    font-size: 18px;
    /* float: none;
    position: absolute;
    margin: 0 auto;
    display: flex; justify-content: center */
  }

  .nav > .nav-header > a {
    display: inline-block;
    margin: 2px 10px 0px 10px;
    width: 50px;
    height: auto;
  }

  .logo {
    width: 43px;
    height: auto;
  }

  .nav > .nav-header > a:hover {
    border-bottom: solid 4px var(--highlight-color);
  }

  .nav > .nav-links {
    display: inline;
    font-size: 18px;
    /* float: none;
    position: absolute;
    margin: 0 auto;
    display: flex; justify-content: center */
  }

  .nav > .nav-links > a {
    display: inline-block;
    padding: 10px 10px 8px 5px;
    text-decoration: none;
    color: var(--font-color);
    font-size: 20pt;
  }

  .nav > .nav-links > a:hover {
    border-bottom: solid 4px var(--highlight-color);
  }

  .nav > .nav-links > a > span {
    display: none;
  }
}

/* END NAVBAR */

/* PAGE HEADERS */ /* PAGE HEADERS *//* PAGE HEADERS *//* PAGE HEADERS *//* PAGE HEADERS *//* PAGE HEADERS *//* PAGE HEADERS *//* PAGE HEADERS *//* PAGE HEADERS *//* PAGE HEADERS *//* PAGE HEADERS */
.w3-container {
  padding: 0px;
}

.pageDescription {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: var(--font-color);
  border-bottom: solid thick  var(--metrix-color);
}

/* article scroller*/ /* article scroller*//* article scroller*//* article scroller*//* article scroller*//* article scroller*//* article scroller*//* article scroller*//* article scroller*/

:root {
  --gutter: 10px;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  /* grid-gap: var(--gutter) 0; */
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
  border-top: solid thick var(--metrix-color);
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}


.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 1);
  grid-template-columns: 5px repeat(10000, calc(35% - var(--gutter) * -20)) 5px;
  grid-template-rows: minmax(150px, 1fr);
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(1 * var(--gutter));
  margin-bottom: calc(1 * var(--gutter));
}

.hs:before,
.hs:after {
  content: '';
}

/* Hide scrollbar */
.hide-scroll {
  overflow-y: hidden;
  margin-bottom: calc(-.1 * var(--gutter));
}


/* Demo styles */

/* html,
body {
  height: 100%;
} */

ul {
  list-style: none;
  padding: 0;
}

.app {
  width: 100%;
  height: 100%;
  overflow-y: hidden; // hide vertical
  overflow-x: scroll;
}

.hs > li,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 3 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  border: solid 2px var(--highlight-color);
  position: static;
  height: 100%;
}


/* END article scroller*/

/* Article Card */ /* Article Card *//* Article Card *//* Article Card *//* Article Card *//* Article Card *//* Article Card *//* Article Card *//* Article Card *//* Article Card */
/* Create two columns that floats next to each other */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

ul li {
  color: black;
}

/* .source {
  text-align: center;
  width: 100%;
  height: auto;
  float: left;
} */

.row {
  width: 100%;
  height: auto;
  /* padding: 10px; */
}

.headline {
  color: var(--article-font-color);
  font-size: 12pt;
  margin-top: 10px;
  margin-bottom: 10px;
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: left;
  /* place for '...' */
  margin-right: 0em;
  padding-right: -1em;
}

/* create the ... */
.headline:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.headline:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}


.metric {
  width: 40px;
  height: auto;
  margin: 0px 10% 0px 5%;
}

.metricRow {
  display: flex;
  justify-content:space-between;
  float: right;
  padding-top: 5px;
  width: 100%;
}

.articlephoto {
  width: 100%;
  height: auto;
  /* Magic! */
  max-height: 25vw;

  display: block;
  /* width: 100%;
  height: 250px; */
  margin-bottom: 10px;
  border-radius: 8px;
}

@media (max-width:600px) {
  .articlephoto {
    width: 100%;
    height: auto;
    /* Magic! */
    max-height: 60vw;

    display: block;
    /* width: 100%;
    height: 250px; */
    margin-bottom: 10px;
    border-radius: 10px;
  }
}

.articlebox {
  border: solid 5px var(--left-color);
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  width: 100%;
  background-color: #fff;
}

.publishinfo {
  text-align: left;
  color: var(--article-font-color);
  width: 100%;
}

.logo_div {
  width: 20%;
  float: left;
  padding-bottom: 5px;
}

.publish_text {
  width: 75%;
  float: left;
  padding-bottom: 5px;
  color: var(--article-font-color)
}

.source_logo {
  height: auto;
  width: 50px;
  border-radius: 5px;
}

.source_name {
  color: var(--article_font_color);
  font-size: 14pt;
  text-align: left;
  margin: 0;
  font-weight: bold;
}

.author {
  color: var(--article-font-color);
  font-size: 12pt;
  text-align: left;
  margin: 0;
  font-style: italic;
}

.time {
  color: var(--article-font-color);
  font-size: 12pt;
  text-align: left;
  margin: 0;
  font-style: italic;

}

.bias {
  width: 55px;
  height: auto;
  padding: 5px;
}

.emotion {
  width: 55px;
  height: auto;
  padding: 5px;
}

.sentiment {
  width: 55px;
  height: auto;
  padding: 5px;
}

.emotion:hover {
  /* create some sort of text pop-up to show alt */
}


/* END article card */

/* ARTICLE PREVIEW MODAL */ /* ARTICLE PREVIEW MODAL *//* ARTICLE PREVIEW MODAL *//* ARTICLE PREVIEW MODAL *//* ARTICLE PREVIEW MODAL *//* ARTICLE PREVIEW MODAL *//* ARTICLE PREVIEW MODAL *//* ARTICLE PREVIEW MODAL *//* ARTICLE PREVIEW MODAL *//* ARTICLE PREVIEW MODAL */
.modalDialog {
	position: fixed;
  max-height: 100%;
  overflow-y: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 90%;
  max-width: 500px;
	position: relative;
	margin: 10% auto;
	padding: 20px 10px 55px 10px;
	border-radius: 10px;
	background: #fff;
}

.close {
	background: var(--bg-color);
  border: solid 2px var(--highlight-color);
	color: var(--highlight-color);
  font-size: 16pt;
	line-height: 40px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 40px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: var(--highlight-color);
  border: solid 2px var(--bg-color);
  color: var(--bg-color);
}

.article_description {
  color: var(--article-font-color);
  font-size: 12pt;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.article_content {
  color: var(--article-font-color);
  font-size: 12pt;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 6.0em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: left;
  /* place for '...' */
  margin-right: 0em;
  padding-right: -1em;
}

/* create the ... */
.article_content:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.article_content:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}


.article_link {
  color: var(--metrix-color);
  font-size: 12pt;
  text-align: left;
}

.article_link:hover {
  text-decoration: underline;
  color: var(--metrix-color);
}

.article_link:visited {
  text-decoration: none;
  color: var(--metrix-color)
}

.article_link:active {
  text-decoration: none;
}


/* BIAS SCOLLERS */ /* BIAS SCOLLERS *//* BIAS SCOLLERS *//* BIAS SCOLLERS *//* BIAS SCOLLERS *//* BIAS SCOLLERS *//* BIAS SCOLLERS *//* BIAS SCOLLERS *//* BIAS SCOLLERS *//* BIAS SCOLLERS */
/* width */
.hs::-webkit-scrollbar {
  width: 10px;
  scroll-behavior: smooth;
}

/* Track */
.hs::-webkit-scrollbar-track {
  background: linear-gradient(to left, var(--right-color) -20%, var(--left-color) 100%);
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

/* Handle */
.hs::-webkit-scrollbar-thumb {
  background: #fff;
  border: solid 1px var(--highlight-color);
  border-radius: 10px;
  height: 50px;
  width: 50px;
}


/* Handle on hover */
/* .hs::-webkit-scrollbar-thumb:hover {
  background: #var(--highlight);
} */
/* BIAS SCOLLERS END */

/* ABOUT.HTML */ /* ABOUT.HTML *//* ABOUT.HTML *//* ABOUT.HTML *//* ABOUT.HTML *//* ABOUT.HTML *//* ABOUT.HTML *//* ABOUT.HTML *//* ABOUT.HTML *//* ABOUT.HTML *//* ABOUT.HTML */
.home_button {
  width: 100%;
  text-align: center;
}

.legend_cont {
  display: flex;
  justify-content:space-between;
  float: left;
  padding: 5px;
  width: 100%;
  margin: 10px 0px 10px 0px;
  border-bottom: solid thick var(--metrix-color);
}

.legend {
  text-align: center;
}

.legend_title {
  font-size: 12pt;
  color: var(--font-color);
  text-align: center;
}

/* what we do
-------------------------------------------------------*/
.what_cont {
  padding: 10px;
  width: 100%;
  margin: 10px 0px 10px 0px;
  border-bottom: solid thick var(--metrix-color);
  text-align: center;
  color: var(--font-color)
}


/* Our Team
-------------------------------------------------------*/

.team_cont {
  padding: 10px;
  width: 100%;
  margin: 10px 0px 10px 0px;
  border-bottom: solid thick var(--metrix-color);
  text-align: center;
  color: var(--font-color)
}

.our-team .team-row {
  margin-left: -40px;
  margin-right: -40px;
}

.our-team .team-wrap {
  padding: 0 40px;
}

.our-team .container-fluid {
  padding: 0 50px;
}

.team-img img {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow: hidden;
  width: 100%;
  height: ;
}

.team-member {
    margin-bottom: 20px;
}

.team-member,
.team-img {
  position: relative;
  overflow: hidden;
}

.team-title {
  margin: 10px 0 7px;
}

.overlay {
  background-color: rgba(20,20,20,.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team-details {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 5%;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team-details p {
  color: var(--font-color);
}

.team-img:hover .team-details {
  opacity: 1;
  margin-top: -80px;
}

.team-img:hover .overlay {
  opacity: 1;
}

.socials a {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-color: transparent;
}

.socials i {
  line-height: 37px;
  color: var(--font-color);
  font-size: 14px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.team-details .socials i {
	color: #fff;
}

.socials a:hover i {
  color: #fff;
  background-color: #355c7d;
}




/* election.html */ /* election.html *//* election.html *//* election.html *//* election.html *//* election.html *//* election.html *//* election.html *//* election.html *//* election.html */

.politicalParty {
  width: 100%;
  float: left;
  margin-top: 25px;
  border-bottom: solid thick var(--metrix-color);
  background-color: inherit;
}

.candidate {
  width: 100%;
  padding: 5px;
}

.container {
  position: relative;
  width: auto;
  margin: 0 auto;
  display: table;
  color: var(--font-color);
  text-align: center;
}

.candidateDesc {
  position: relative;
  width: auto;
  /* margin: auto; /* Center it */
  display: block; */
  color: var(--font-color);
  border-top: solid thick var(--highlight-color);
  padding: 10px;
}

.content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: var(--candidate-font-color); /* Grey text */
  width: 100%; /* Full width */
  max-width: 350px;/* Maximum width */
  display: block;

}

.content:hover > h3 {
  text-decoration: underline;
}

.content > h3 {
  line-height: 1.8em;
  text-align: center;
  max-width: 350px;/* Maximum width */
  margin: 0px;
  color: var(--candidate-font-color);
}

.content > p {
  line-height: 1.8em;
  text-align: center;
  max-width: 350px;/* Maximum width */
  margin: 0px;
  color: var(--candidate-font-color);
}

.candidatePic {
  width: 100%;
  max-width: 350px;
  display: block;
}

/* CANDIDATE.HTML */ /* CANDIDATE.HTML *//* CANDIDATE.HTML *//* CANDIDATE.HTML *//* CANDIDATE.HTML *//* CANDIDATE.HTML *//* CANDIDATE.HTML *//* CANDIDATE.HTML *//* CANDIDATE.HTML */

.experience {
  line-height: 1.8em;
  text-align: left;
  padding-left: 10px;
  padding-right: 5px;
  margin: 0;
  color: var(--font-color);
  max-width: 100%;
}

.education {
  line-height: 1.8em;
  text-align: left;
  padding-left: 10px;
  padding-right: 5px;
  margin: 0px;
  color: var(--font-color);
  max-width: 100%;
}

/* BUTTONS */ /* BUTTONS *//* BUTTONS *//* BUTTONS *//* BUTTONS *//* BUTTONS *//* BUTTONS *//* BUTTONS *//* BUTTONS *//* BUTTONS *//* BUTTONS *//* BUTTONS *//* BUTTONS *//* BUTTONS */

.btn.default {
  border: solid 2px var(--highlight-color);
  color: var(--font-color);
  background-color: inherit;
  padding: 15px 15px;
  margin: 10px 10px 10px 10px;
  font-size: 32px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  width: 90%;
  border-radius: 35px;
}

.btn:hover {
  background-color: var(--highlight-color);
  color: var(--bg-color);
  border: solid var(--highlight-color);
}

.newsSpectrum {
  /* margin: 0 auto; */
  text-align: left;
}

.pollButtons {
  width: 100%;
  text-align: center;
}

/* .campaignButtons {
  text-align: center;
  margin: 25px;
} */

/* ACCOUNT.HTML *//* ACCOUNT.HTML *//* ACCOUNT.HTML *//* ACCOUNT.HTML *//* ACCOUNT.HTML *//* ACCOUNT.HTML *//* ACCOUNT.HTML *//* ACCOUNT.HTML *//* ACCOUNT.HTML *//* ACCOUNT.HTML *//* ACCOUNT.HTML */
.settings {
  padding: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.setting {
  width: 50%;
  color: var(--font-color);
  font-size: 16pt;
}

/* DarkMode switch *//* DarkMode switch *//* DarkMode switch *//* DarkMode switch *//* DarkMode switch *//* DarkMode switch *//* DarkMode switch *//* DarkMode switch *//* DarkMode switch */
/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: inline-block;
  align-items: center;
  float: right;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* End DarkMode Switch */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
