:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}




body,h1,h2,h3,h4,h5,h6,span, p{
  font-family: "Source Sans Pro", sans-serif;
  color: auto;
  /* word-wrap: break-word; */
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);

  height: 100%;
  line-height: 1.8;
  /* background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%); */
  max-width: 800px;
  margin: auto;
}

footer {
  color: var(--secondary-color);

  width: 100%;
  height: auto;
}

h1 {
  color: var(--secondary-color);

  font-size: 36pt;
  font-weight: bold;
}

h2 {
  color: var(--secondary-color);

  font-size: 24pt;
  padding-left: 10px;
  /* padding-top: 5px; */
  margin: 0;
}

h3 {
  color: var(--secondary-color);

  font-size: 20pt;
  /* padding-top: 5px; */
  margin: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

/* h3 {
  font-size: 20pt;
  padding-left: 10px;
  color: white;
} */

p {
  color: var(--secondary-color);

  font-size: 14pt;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: silver;
}

a:active {
  text-decoration: underline;
}

/* DarkMode switch */
/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* End DarkMode Switch */

.w3-container {
  padding: 0px;
}

.emotion {
  width: 75px;
  height: auto;
  padding: 5px;
}

.sentiment {
  width: 75px;
  height: auto;
  padding: 5px;
}

.emotion:hover {
  /* create some sort of text pop-up to show alt */
}




/* NAVBAR */
.w3-top {
  color: white;
  position: static;
  font-size: 16pt;
  font-weight: bold;
}

.dropdown {
  float: left;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: silver;
  color: black;
  text-decoration: underline;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* END NAVBAR */

.pageDescription {
  padding-top: 50px;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 10px;
  text-align: center;
  color: white;
  align-self: center;
  border-top: solid thick silver;
  border-bottom: solid thick silver;
}
/* Home page */
#home {
  padding-top: 250px;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  min-height: 100%;
  text-align: center
}

#election {
  display: grid;
  place-items: center;
}

/* article scroller*/

:root {
  --gutter: 10px;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  /* grid-gap: var(--gutter) 0; */
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 1);
  grid-template-columns: 5px repeat(10000, calc(35% - var(--gutter) * -20)) 5px;
  grid-template-rows: minmax(150px, 1fr);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(1 * var(--gutter));
  margin-bottom: calc(1 * var(--gutter));
}

.hs:before,
.hs:after {
  content: '';
}

/* Hide scrollbar */
.hide-scroll {
  overflow-y: hidden;
  margin-bottom: calc(-.1 * var(--gutter));
}


/* Demo styles */

html,
body {
  height: 100%;
}

#news {
  display: grid;
  place-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

.app {
  width: 100%;
  height: 100%;
  overflow-y: hidden; // hide vertical
  overflow-x: scroll;
}

.hs > li,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 3 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  /* border: solid 5px #ff0000; */
  position: static;
  height: 100%;
}


/* END article scroller*/

/* Article Card */
/* Create two columns that floats next to each other */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.desc {
  font-size: 12pt;
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: center;
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.desc:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.desc:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

}

.author {
  font-size: 12pt;
  font-style: italic;
  text-align: center;
}

ul li {
  color: black;
}

/* .source {
  text-align: center;
  width: 100%;
  height: auto;
  float: left;
} */

.row {
  width: 100%;
  /* padding: 10px; */
}

.time {
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

.headline {
  font-size: 12pt;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* styles for '...' */
.headline {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: center;
  /* place for '...' */
  margin-right: 0em;
  padding-right: -1em;
}
/* create the ... */
.headline:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.headline:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

.metric {
  display: flex;
  justify-content: space-between;
  float: right;
  padding-top: 5px;
}

.articlephoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 8px;
}

.sourcelogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.articlebox {
  border: solid 5px #ff0000;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  width: 100%;
  background-color: #fff;
}

.publishinfo {
  text-align: center;
}

/* END article card */

/* BIAS SCOLLERS */
/* width */
.hs::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.hs::-webkit-scrollbar-track {
  background: linear-gradient(to left, #f43b47 -33%, #453a94 100%);
  border: solid 1px silver;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;

}

/* Handle */
.hs::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
  height: 50px;
  width: 50px;
}

/* Handle on hover */
.hs::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* BIAS SCOLLERS END */

/* election.html */

.polticalParty {
  width: 100%;
  float: left;
  margin-top: 50px;
  border-top: solid thick silver;
}

.container {
  position: relative;
  max-width: 400px;/* Maximum width */
  width: auto;
  margin: 10px 10px auto; /* Center it */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

.candidateInfo {
  line-height: 1.8em;
  text-align: center;
  margin: 0px;
}

.experience {
  line-height: 1.8em;
  text-align: center;
  margin: 0px;
  color: #fff;
  max-width: 100%;
}

.education {
  line-height: 1.8em;
  text-align: center;
  margin: 0px;
  color: #fff;
  max-width: 100%;
}


.btn.default {
  border: solid #fff;
  background-color: inherit;
  padding: 15px 15px;
  margin: 10px 10px 10px 10px;
  font-size: 32px;
  cursor: pointer;
  display: inline-block;
  color: white;
  width: 100%;
}

.btn:hover {
  background: #800080;
  border: solid #fff;
}

.pollButtons {
  text-align: center;
  margin: 25px;
}

.campaignButtons {
  text-align: center;
  margin: 25px;
}
