///////spectrum ////// 
:root {
    --gutter: 10px;
  }
  
  .app {
    // padding: var(--gutter) 0;
    display: grid;
    /* grid-gap: var(--gutter) 0; */
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start;
    width: 100%;
    height: 100%;
    overflow-y: hidden; 
    overflow-x: hidden;
  }
 
  .app > * {
    grid-column: 2 / -2;
  }
  
  .app > .full {
    grid-column: 1 / -1;
  }
  
  @media (min-device-width:1224px) {
  .hs {
    display: grid;
    grid-gap: calc(var(--gutter) / 1);
    grid-template-columns: 5px repeat(10000, calc(35% - var(--gutter) * -10)) 5px;
    grid-template-rows: minmax(150px, 1fr);
    overflow-x: scroll;
    padding-bottom: calc(1 * var(--gutter));
    margin-bottom: calc(1 * var(--gutter));
  }
  @media (min-device-width:1824px) {
    .hs {
      display: grid;
      grid-gap: calc(var(--gutter) / 1);
      grid-template-columns: 5px repeat(10000, calc(35% - var(--gutter) * -20)) 5px;
      grid-template-rows: minmax(150px, 1fr);
      overflow-x: scroll;
      padding-bottom: calc(1 * var(--gutter));
      margin-bottom: calc(1 * var(--gutter));
    }
  }
  @media (max-width:1224px) {
    .hs {
      display: grid;
      grid-gap: calc(var(--gutter) / 1);
      grid-template-columns: 5px repeat(10000, calc(35% - var(--gutter) * -15)) 5px;
      grid-template-rows: minmax(150px, 1fr);
      overflow-x: scroll;
      padding-bottom: calc(1 * var(--gutter));
      margin-bottom: calc(1 * var(--gutter));
    }
  }
}
  @media (max-device-width:1224px) {
    .hs {
      display: grid;
      grid-gap: calc(var(--gutter) / 1);
      grid-template-columns: 5px repeat(10000, calc(35% - var(--gutter) * -15)) 5px;
      grid-template-rows: minmax(150px, 1fr);
      overflow-x: scroll;
      padding-bottom: calc(1 * var(--gutter));
      margin-bottom: calc(1 * var(--gutter));
    }
    @media (orientation: portrait) {
      .hs {
        display: grid;
        grid-gap: calc(var(--gutter) / 1);
        grid-template-columns: 5px repeat(10000, calc(35% - var(--gutter) * -20)) 5px;
        grid-template-rows: minmax(150px, 1fr);
        overflow-x: scroll;
        padding-bottom: calc(1 * var(--gutter));
        margin-bottom: calc(1 * var(--gutter));
      }
    }
}
  
  .hs:before,
  .hs:after {
    content: '';
  }
  
  /* Hide scrollbar */
  .hide-scroll {
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: calc(-.1 * var(--gutter));
  }

  ul {
    list-style: none;
    padding: 0;
  }
  
//   Bias scrollers
  .hs::-webkit-scrollbar {
    height: 10px;
    scroll-behavior: smooth;
  }
  
  /* Track */
  .hs::-webkit-scrollbar-track {
    background: #f2f2f2;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    scroll-behavior: smooth;
  }
  
  /* Handle */
  .hs::-webkit-scrollbar-thumb {
    background: #492354;
    border: solid 1px var(--bg-color);
    border-radius: 5px;
    height: 10px;
    width: auto;
    scroll-behavior: smooth;
  }

  ///////spectrum ////// 

/////// ARTICLES ////////

// article_head styles
.article {
    text-align: left;
    color: var(--article-font-color);
    width: auto;
    height: 100%;
    position: relative;
    top: 0;
  }

//   article styling
.row {
    width: 100%;
    height: auto;
  }

  //dynamic article border based on political bias

  .articlebox {
    border: solid 5px var(--metrix-color);
    padding: 5px 5px 5px 5px;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

.left {
    border: solid 5px var(--left-color);
    padding: 5px 5px 5px 5px;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  .articlebox .center_left {
    border: solid 5px var(--center-left-color);
    padding: 5px 5px 5px 5px;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  .articlebox .center {
    border: solid 5px var(--center-color);
    padding: 5px 5px 5px 5px;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  .articlebox .center_right {
    border: solid 5px var(--center-right-color);
    padding: 5px 5px 5px 5px;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  .articlebox .right {
    border: solid 5px var(--right-color);
    padding: 5px 5px 5px 5px;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  // end dynamic border 





  @media (min-device-width:1224px) {
    .articlephoto {
      width: 100%;
      height: 100%;
      min-height: 40vh;
      max-height: 40vh;
      display: block;
      margin-bottom: 5px;
    }
    @media (min-device-width:1824px) {
      .articlephoto {
        width: 100%;
        height: 100%;
        min-height: 30vh;
        max-height: 30vh;
        display: block;
        margin-bottom: 5px;
      }
    }
    @media (max-width:1224px) {
      .articlephoto {
        width: 100%;
        height: 100%;
        min-height: 10vh;
        max-height: 10vh;
        display: block;
        margin-bottom: 5px;
      }
    }
  }
    @media (max-device-width:1224px) {
      .articlephoto {
        width: 100%;
        height: 100%;
        min-height: 25vh;
        max-height: 25vh;
        display: block;
        margin-bottom: 5px;
      }
    }









  // .articlephoto {
  //   width: 100%;
  //   height: 100%;
  //   min-height: 30vh;
  //   max-height: 30vh;
  //   display: block;
  //   margin-bottom: 5px;
  // }

  // @media (max-width: 700px) {
  //   .articlephoto {
  //     width: 100%;
  //     height: 100%;
  //     min-height: 60px;
  //     max-height: 60vw;
  //     display: block;
  //     margin-bottom: 5px;
  //   }
  // }


  .article_link {
    color: blue;
    font-size: 10pt;
    text-align: left;
    overflow: hidden;
    line-height: 1.2em;
    max-height: 1.2em;
  }
  
  .article_link:hover {
    text-decoration: underline;
    color: --var(--metrix-color)
  }
  
  .article_link:visited {
    text-decoration: none;
    color: var(--metrix-color)
  }
  
  .article_link:active {
    text-decoration: none;
  }

  .item {
    scroll-snap-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    height: 100%;
    overflow-y: hidden;
  }