.pageDescription {
    text-align: center;
    background-color: var(--bg-color);
  }

  .pageDescription > h1 {
    color: var(--highlight-color);
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
  }

  footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--highlight-color);
    color: var(--bg-color);
    height: 50px;
    text-align: center;
    padding-top: 10px;
    border-top: solid thick var(--metrix-color);
  }