.pageDescription {
    text-align: center;
    background-color: var(--bg-color);
    width: 100%;
  }

  .pageDescription > h1 {
    color: var(--highlight-color);
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
  }